<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@0.11.2"></script>
    <script src="./js/flotr2.min.js"></script>
    <style type="text/css">
      #container {
        width : 800px;
        height: 400px;
        margin: 8px auto;
      }
     </style>
    <title>Tensorflow.js</title>
</head>
<body>

    <div id="container"></div>
    <script type="text/javascript">
        function drawChart(data){
            var container = document.getElementById("container");
            var option = {
                 colors: ['#00A8F0', '#C0D800', '#CB4B4B', '#4DA74D', '#9440ED'],  //线条的颜色
                 ieBackgroundColor:'#3ec5ff',                    //选中时的背景颜色
                 title:'Tensorflow线性模型预测',               //标题
                 subtitle:'二元三次方程',                           //子标题
                 shadowSize:5,                                 //线条阴影
                 defaultType:'lines',                           //图表类型,可选值:bars,bubbles,candles,gantt,lines,markers,pie,points,radar
                 HtmlText:false,                                //是使用html或者canvas显示 true:使用html  false:使用canvas
                 fontColor:'#ff3ec5',                           //字体颜色
                 fontSize:7.5,                                  //字体大小
                 resolution:1,                                  //分辨率 数字越大越模糊
                 parseFloat:true,                               //是否将数据转化为浮点型
               xaxis: {
                // ticks:[[1,"一月"],[2,"二月"],[3,"三月"],[4,"四月"],[5,"五月"],[6,"六月"],[7,"七月"],[8,"八月"],[9,"九月"],[10,"十月"],[11,"十一月"],[12,"十二月"]], // 自定义X轴
                //    ticks: null,
                   minorTicks: null,
                   showLabels:true,                             // 是否显示X轴刻度
                   showMinorLabels:false,
                   labelsAngle:15,                              //x轴文字倾斜角度
                   title:'x',                                 //x轴标题
                   titleAngle:0,                                //x轴标题倾斜角度
                   noTicks:10,                                   //当使用自动增长时,x轴刻度的个数
                   minorTickFreq:null,                           //
                   tickFormatter: Flotr.defaultTickFormatter,   //刻度的格式化方式
                   tickDecimals:0,                              //刻度小数点后的位数
                   min:-110,                                    //刻度最小值  X轴起点的值
                   max:110,                                    //刻度最大值
                   autoscale:true,
                   autoscaleMargin:0,
                   color:null,                             //x轴刻度的颜色
                   mode:'normal',
                   timeFormat:null,
                   timeMode:'UTC',                               //For UTC time ('local' for local time).
                   timeUnit:'year',                             //时间单位 (millisecond, second, minute, hour, day, month, year)
                   scaling:'linear',                            //linear or logarithmic
                   base:Math.E,
                   titleAlign:'center',                         //标题对齐方式
                   margin:true
               },
               x2axis:{
               },
               yaxis:{
                      //// =>  Y轴配置与X轴类似
                    // ticks: [ [-10,"-10"], [0,"0"], [10,"10"], [20,"20"], [30,"30"],[40,"40"] ],
                    minorTicks: null,      // =>  format: either [1, 3] or [[1, 'a'], 3]
                    showLabels: true,      // =>  setting to true will show the axis ticks labels, hide otherwise
                    showMinorLabels: false,// =>  true to show the axis minor ticks labels, false to hide
                    labelsAngle: 0,        // =>  labels' angle, in degrees
                    title: 'y',           // =>  axis title
                    titleAngle: 0,        // =>  axis title's angle, in degrees
                    noTicks: 10,            // =>  number of ticks for automagically generated ticks
                    minorTickFreq: null,   // =>  number of minor ticks between major ticks for autogenerated ticks
                    tickFormatter: Flotr.defaultTickFormatter, // =>  fn: number, Object ->  string
                    tickDecimals: 'no',    // =>  no. of decimals, null means auto
                    min: -1000,             // =>  min. value to show, null means set automatically
                    max: 5000,             // =>  max. value to show, null means set automatically
                    autoscale: false,      // =>  Turns autoscaling on with true
                    autoscaleMargin: 0,    // =>  margin in % to add if auto-setting min/max
                    color: null,           // =>  The color of the ticks
                    scaling: 'linear',     // =>  Scaling, can be 'linear' or 'logarithmic'
                    base: Math.E,
                    titleAlign: 'center',
                    margin: true           // =>  Turn off margins with false
               },
               y2axis:{
               },
               grid: {
                      color: '#545454',      // =>  表格外边框和标题以及所有刻度的颜色
                      backgroundColor: null, // =>  表格背景颜色
                      backgroundImage: null, // =>  表格背景图片
                      watermarkAlpha: 0.4,   // =>  水印透明度
                      tickColor: '#DDDDDD',  // =>  表格内部线条的颜色
                      labelMargin: 1,        // =>  margin in pixels
                      verticalLines: true,   // =>  表格内部是否显示垂直线条
                      minorVerticalLines: null, // =>  whether to show gridlines for minor ticks in vertical dir.
                      horizontalLines: true, // =>  表格内部是否显示水平线条
                      minorHorizontalLines: null, // =>  whether to show gridlines for minor ticks in horizontal dir.
                      outlineWidth: 1,       // =>  表格外边框的粗细
                      outline : 'nsew',      // =>  超出显示范围后的显示方式
                      circular: false        // =>  是否以环形的方式显示
               },
               mouse:{
                      track: true,          // =>  为true时,当鼠标移动到每个折点时,会显示折点的坐标
                      trackAll: true,       // =>  为true时,当鼠标在线条上移动时,显示所在点的坐标
                      position: 'se',        // =>  鼠标事件显示数据的位置 (default south-east)
                      relative: false,       // =>  当为true时,鼠标移动时,即使不在线条上,也会显示相应点的数据
                      trackFormatter: Flotr.defaultTrackFormatter, // =>  formats the values in the value box
                      margin: 5,             // =>  margin in pixels of the valuebox
                      lineColor: '#FF3F19',  // =>  鼠标移动到线条上时,点的颜色
                      trackDecimals: 0,      // =>  数值小数点后的位数
                      sensibility: 2,        // =>  值越小,鼠标事件越精确
                      trackY: true,          // =>  whether or not to track the mouse in the y axis
                      radius: 3,             // =>  radius of the track point
                      fillColor: null,       // =>  color to fill our select bar with only applies to bar and similar graphs (only bars for now)
                      fillOpacity: 0.4       // =>  o
               }
            };
            // Draw Graph
      Flotr.draw(container, data, option);
    }
    </script>
    <script type="text/javascript">
        const a = tf.variable(tf.scalar(Math.random()));
        const b = tf.variable(tf.scalar(Math.random()));
        const c = tf.variable(tf.scalar(Math.random()));
        function predict(x) {
            return tf.tidy(() => {
                return a.mul(x.square())
                    .add(b.mul(x))
                    .add(c);
            });
        }
        function loss(predictions, labels) {
            const meanSquareError = predictions.sub(labels).square().mean();
            return meanSquareError;
        }
        function train(xs, ys, numIterations = 1000) {
            const learningRate = 0.1;
            const optimizer = tf.train.adam(learningRate);

            for (let iter = 0; iter < numIterations; iter++) {
                console.log(iter);
                optimizer.minimize(() => {
                    const predsYs = predict(xs);
                    return loss(predsYs, ys);
                });
            }
        }


        var arra = [];
        for(var x=-100;x<100;x++){
            var error = Math.random();
            var y = 1.5*Math.pow(x, 2) + 20*x + 2000 * (error-0.5);
            arra.push([x, y]);
        }
        console.log(arra);

        var xs = [];
        var ys = [];
        for(var i=0;i<arra.length;i++){
            xs.push(arra[i][0]);
            ys.push(arra[i][1]);
        }
        console.log(xs);
        console.log(ys);
        const xs_p = tf.tensor1d(xs);
        const ys_p = tf.tensor1d(ys);
        console.log("xs_p\n"+xs_p);
        console.log("ys_p\n"+ys_p);
        train(xs_p, ys_p);
        const predsYs = predict(xs_p);
        console.log("y_pred: "+predsYs);

        arra2 = [];
        for (var j = 0; j<xs.length; j++) {
            arra2.push([xs[j], predsYs.get(j)])
        }
        console.log("arra2: "+arra2);

        var data = [
        { data : arra, label :'train' ,lines : { show : true }, points : { show : true }},
        { data : arra2, label :'test' ,lines : { show : true }, points : { show : true }},
        ];
        drawChart(data);

    </script>

</body>
</html>